/******* Bootstrap Theming ********/

$primary: #FF4800;
$secondary: #F2F2F4;
$light: #FFFFFF;
$dark: #1F1F2E;

$font-family-sans-serif: 'Roboto', sans-serif;

$body-color: #757575;

$headings-color: $dark;

$enable-responsive-font-sizes: true;

$enable-rounded: false;
